*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes popUp {
    0%{}
}