*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    font-family: "Montserrat", sans-serif;
}