.hero-container{
    background: url(/images/landing.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    position: relative;
}
.hero-container-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 65%;
    position: absolute;
    top: 30%;
    left: 5%;
    animation: fadeIn 5s;
}
.hero-container-content h2{
    font-size: 2.5em;
    font-weight: 600;
}
.hero-container-content p{
    width: 70%;
    font-size: 1.5em;
    opacity: 0.7;
    font-weight: 400;
}
.hero-container-content h3{
    font-size: 1.3em;
    font-weight: 600;
    opacity: 0.8;
}
.hero-container-content .cta{
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: blue;
}

@media screen and (max-width: 750px){
    
    .hero-container-content{
        width: 90%;
    }
    .hero-container-content h2{
        font-size: 22px;
    }
    .hero-container-content h3{
        font-size: 15px;
    }
    .hero-container-content p{
        font-size: 15px;
        width: 100%;
        text-align: justify;
    }
}

@media screen and (max-width: 1200px){
    .hero-container{
        height: 50vh;
    }
    .hero-container-content{
        width: 80%;
    }
}