.hero-container{
    background:url(/images/landing.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vw;
    position: relative;
    margin-top: 30px;
}
.hero-container-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 50%;
    gap: 20px;
    animation: fadeIn 3s;
}
.hero-container-content h2{
    font-size: 2.5em;
    font-weight: 500;
}
.hero-container-content h3{
    font-size: 1.5em;
    opacity: 0.7;
}
.hero-container-content p{
    width: 75%;
    font-size: 1.2em;
    opacity: 0.7;
}
.hero-container-content .cta{
    border: none;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
@media screen and (max-width:480px){
    .hero-container-content{
        max-width: 100%;
        top: 20%;
    }
    .hero-container{
        height: 75vh;
        background-size: cover;
    }
    .hero-container-content h2{
        font-size: 25px;
    }  
    .hero-container-content p{
        display: none;
    } 
    .hero-container-content .cta{
        padding: 8px 15px;
        font-size: 15px;
        margin-top: -5%;
    }
}
@media screen and (max-width:750px){
    .hero-container-content{
        max-width: 75%;
        top: 20%;
    }
    .hero-container{
        height: 45vh;
        background-size: contain;
    }
    .hero-container-content h2{
        font-size: 1.8em;
    }  
    .hero-container-content p{
        display: none;
    }
    .hero-container-content .cta{
        padding: 8px 15px;
        font-size: 15px;
    }
}
@media screen and (max-width:1050px){
    
    .hero-container{
        height: 65vw;
        background-size: contain;
    }
    .hero-container-content{
        top: 25%;
        max-width: 75%;
        gap: 15px;
    }
    .hero-container-content h2{
        font-size: 1.5em;
    }
}