.landing-container{
    position: relative;
    background: url(/images/landing.png);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}
.landing-content{
    position: absolute;
    top: 15%;
    left: 13%;
    width: 600px;
}
.landing-content h1{
    font-size: 3em;
    font-weight: bolder;
    line-height: 1.3;
}
.landing-content p{
    margin: 20px 0;
    font-size: larger;
    opacity: 0.7;
}

@media screen and (max-width: 780px){
    .landing-container{
        overflow: hidden;
    }

    .landing-content{
        width: 70%;
        text-align: center;
    }
    .landing-content h1{
        font-size: 2.5em;
        overflow-wrap: break-word;
    }
}
@media screen and (max-width: 450px){
    .landing-content{
        top: 8%;
        width: 75%;
        text-align: center;
    }
    .landing-content h1{
        font-size: 1.8em;
        overflow-wrap: break-word;
    }
}