.landing-container{
    position: relative;
    background: url(/images/landing.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.landing-content{
    position: absolute;
    top: 15%;
    left: 13%;
    width: 600px;
}
.landing-content h1{
    font-size: 3em;
    font-weight: bolder;
    line-height: 1.3;
}
.landing-content p{
    margin: 20px 0;
    font-size: larger;
    opacity: 0.7;
}