.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.navbar-container h1 {
  font-size: 25px;
  font-weight: 600;
}
.navbar-container span {
  color: blue;
  font-family: "Dancing Script", cursive;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 17px;
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right button {
  border: none;
  outline: 0;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  background: blue;
  color: white;
}
.nav-links .active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.nav-link.active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}
.hamburger {
  font-size: 25px;
  display: none;
}

@media screen and (max-width: 750px) {
  .hamburger {
    display: block;
  }
  .navbar-container h1 {
    font-size: 17px;
    font-weight: 600;
  }

  .nav-center {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: white;
    padding: 0 15px;
    width: 100%;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-center.active {
    max-height: 300px;
    padding: 20px;
    z-index: 1;
  }
  .nav-links,
  .btn-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1020px) {
  .navbar-container h1 {
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
  }
  .nav-links {
    margin-right: 40px;
  }
}
