.service-pillars{
    margin-top: 20px;
    gap: 20px;
}
.service-pillars, .services-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.services-item{
    box-shadow: 0 0 10px gray;
    padding: 20px;
    border-radius: 15px;
}
.services-item h3{
    text-align: center;
}
.services-item p{
    margin: 10px 0;
    text-align: justify;
}