.prolabs-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.prolabs-team h2{
    font-size: 1.7em;
    font-weight: 600;
}

.team-card {
  display: flex;
  gap: 1.5rem;
  align-items: start;
  box-shadow:  0 0 10px gray;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}
.card-2{
    display: flex;
    flex-direction: row-reverse;
}
.team-photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile-info ul{
    margin-left: 5%;
}
.role-title{
    font-weight: bold;
}
.card-2 {
  flex-direction: row-reverse;
}

.card-2 .profile-info {
  text-align: left;
}


@media screen and (max-width: 750px) {
    .team-card{
        flex-direction: column;
    }
}