.tech-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.tech-stack h2{
    font-size: 1.7em;
    font-weight: 600;
}
.tech-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0 0 10px gray;
  margin-top: 25px;
  border-radius: 15px;
}

.tech-card {
  padding: 1.25rem;
}

.tech-card img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 750px){
  .tech-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    gap: 15px;
  }
  /* .tech-card{
    padding: 10px;
  } */
  .tech-card img{
    width: 80px;
    height: 80px;
  }
}